# This will load your local private tokens from the separate `.env` file (that should not be comitted to repo)
dotenv

# increase heap size for node (npm) processes
export NODE_OPTIONS="--max-old-space-size=6144"
